* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

/* main */

h1 {
    margin: 0;
    font-weight: 1000;
}

h2 {
    margin: 0;
    font-weight: 300;
    font-size: 1rem;
}

p {
    font-weight: 100;
    font-size: .75rem;
}

.main {
    cursor: default;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    transition: filter 200ms ease;
}

.title, .body {
    display: flex;
}

.title {
    margin-top: var(--header-height);
    padding: 100px;
    justify-content: center;
    width: 100%;
}

.content {
    display: flex;
    width: 50%;
    align-items:center;
    justify-content: center;
}

.portrait{
    display: flex;
    width: 50%;
    margin-right: 4rem;
}

.portrait img {
    width: 100%;
    height: auto;
    border: 2px dashed black;
    border-radius: 10rem;
}
