* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

/* main */

h1 {
    margin: 0;
    font-weight: 1000;
}

h2 {
    margin: 0;
    font-weight: 300;
    font-size: 1rem;
}

p {
    font-size: 1rem
}

.main {
    cursor: default;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
    align-items: center;
    transition: filter 200ms ease;
    --thumb-size: 300px;
    z-index: 0;
}

.title, .body {
    display: flex;
}

.title {
    margin-top: var(--header-height);
    padding: 100px;
    justify-content: center;
    width: 100%;
}

.content {
    display: flex;
    width: 75%;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-bottom: 5%; */
}

.thumbnail {
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    margin: 20px;
    transition: 200ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    /* border: 1px solid black; */
}

.thumbnail:hover {
    transform: translate(-10px, -10px);
    filter: drop-shadow(10px 10px 0 black);
    border: 1px solid black;
    cursor: pointer;
}

.thumbnail:active {
    transform: none;
    filter: none;
}

.thumbnail img {
    margin: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background: white;
    /* border-color: green; */
}

.thumbText {
    position: absolute;
    align-self: center;
    opacity: 0;
    transition: 300ms ease-in-out; 
    font-size: .75rem;
    border-radius: 50%; 
}

.thumbnail:hover .thumbText {
    opacity: 1;
    background: rgb(146, 193, 255, .5);
    padding: 0.05rem 1rem;
    border: 1px solid black;
}