* {
    box-sizing: border-box;
    margin: 0;
}

*:link {
    color: black;
}

*:visited {
    color: black;
}

:root {
    --header-col: rgb(255, 251, 241);
    --header-height: 100px;
}

/* header */
a {
    text-decoration: none;
}

h6 {
    font-weight: 100;
    transform: scaleY(0.9);
}

html, body {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    height: 100vh;
    width: 100%;
    margin: 0;
        
    animation: fadeIn ease 1s;
    /* z-index: 7; */
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    background: white;
    transition: 400ms ease;
    height: var(--header-height);
    z-index: 100;
}

header:hover {
    filter: drop-shadow(0px 1.5px 3px grey);
    background: rgb(255, 251, 241);
}

header:hover .nav {
    background: var(--header-col);
}

.navicon, .space{
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    filter: drop-shadow(3px, 3px, 0px, rgb(0, 0, 0));
}

.navicon {
    background-color: black;
}

.navicon input { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle, .space .mimic {
    position: relative;
    width: 35px;
    height: 35px;
}

.toggle {
    border-radius: 50%;
    transition: 200ms ease;
    border: 1px solid black;
    transition: 200ms ease;
    background: white;
    cursor: pointer;
    z-index: 7;
}

.toggle .toggleimg {
    border-radius: 50%;
    transition: 400ms;
}

.toggle:hover {
    transform: translate(-3px, -3px);
    filter: drop-shadow(3px, 3px, 0px, rgb(112, 42, 42));
    background: rgb(255, 94, 94);
}

.toggle:active {
    transform: translate(0, 0);
    transition: 100ms;
}

.navicon input:checked + .toggle .toggleimg{
    transform: rotate(45deg);
    background: rgb(255, 94, 94);
}

.navicon input:checked ~ nav {
    opacity: 1;
    left: 70px;
}

nav {
    left: 1%;
    font-size: .75rem;
    max-width: 33%;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    opacity: 0;
    align-items: center;
    transition: 300ms ease;
}

.navicon .nav {
    margin: 5px 5px;
    padding: 0 .5rem;
    transition: 300ms ease;
    border-radius: 50%;
}

.navicon .nav:hover {
    border: 0.5px solid;
    transform: translate(-2.5px, -2.5px);
    filter: drop-shadow(5px 5px 0 black);
    cursor: pointer;
}

.navicon .nav:active {
    filter: none;
    transform: none;
    transition: 100ms;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms ease;
    border-radius: 50%;
}

.logoimg {
    border-radius: 50%;
}

.logo:hover {
    transform: translate(-2.5px, -2.5px);
    filter: drop-shadow(5px 5px 0 black);
}

.logo:active {
    transform: none;
    filter: none;
    transition: 100ms;
}

.logo a {
    width: 70px;
    height: 70px;
    border: red;
}

a:visited {
    color:black;
}
a:active {
    color: red;
}

/* footer */

footer {
    z-index: 0;
    width: 50vw;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    margin: 2rem;
    padding: 10px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    padding: 5px;
    background: black;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: white;  
    border-radius: 10px;
    border: 1px solid black;
}
  
  /* Handle on hover */
::-webkit-scrollbar:hover {
    background: black;
}

::-webkit-scrollbar:active {
    background: black;
}