* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

html {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav, div.space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 15%;
}

nav a div.nav {
    padding: 0 .1rem;
}

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 100ms ease;
}

div.logo a {
    width: 70px;
    height: 70px;
    border: red;
}

div.logo:hover {
    filter: drop-shadow(5px 5px 0 black);
}