body {
    font-family: Arial;
    margin: 0;
    width: 50%;
  }
  
  * {
    box-sizing: border-box;
    border: 1px solid green;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(85, 85, 85, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .thumbs img {
    width: 100%;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    /* background-color: #222; */
    padding: 2px 16px;
    /* color: white; */
  }
  
  .row:after {
    content: "";
    display: flex;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 20%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    width: 100%;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }




  /* .content {
    display: flex;
    width: 75%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tog {
    width: var(--thumb-size);
    height: var(--thumb-size);
    margin: 20px;
    transition: 200ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.tog:hover {
    transform: translate(-10px, -10px);
    filter: drop-shadow(10px 10px 0 black);
    border: 1px solid black;
    cursor: pointer;
}

.tog:active {
    transform: none;
    filter: none;
}

.tog img {
    margin: 0;
    height: 100%;
    width: 100%;
    background: white;
}

.tog:hover .tog img {
    opacity: 1;
    background: rgb(146, 193, 255, .5);
    padding: 0.05rem 1rem;
    border: 1px solid black;
}

.cntnt input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.cntnt input:checked ~ .tog {
    margin: 12.5rem;
}

.cntnt input:checked + .tog img {
    transition: 400ms;
    z-index: 105;
    width: 250%;
    height: 250%;
} */